.head{
height:90px;
width:100%;
background:black;
}
.logo{
margin-left: 70px;
width: 40%;
float: left;
margin-top: -6px;
}
.logo img{
margin-top: 23px;

height: 60px;
}
.icons{
width:66%;
float:right;
font-size:19px;
margin-top: -65px;
}
.icons li{
color:white;
display:inline;
margin: 40px;
}
.icons ul{
padding-left: 100px;
}
.banner{
width:100%;
height:600px;
background:url(/home/rohit/Desktop/design/image/banner1.jpg) no-repeat;
margin-top:-20px;
}
.tex p{
color: whitesmoke;
padding-left: 270px;

font-size: 0.813em;

line-height: 1.1;

font-weight: 400;

font-style: normal;
}
.tex h1{
color: #82b440;
padding-left: 230px;

padding-top: 250px;
margin-top: 20px;
font-size: 43px;

line-height: 0;

font-weight: 500;
}
.mid{
color: #82b440;
width:100%;
height:70px;
font-size:27px;
}
.middle{
width:100%;
height:819px;
background:url(/home/rohit/Desktop/design/image/banner1.jpg) no-repeat;
}
.container{width:1170px;margin:0 auto;}
.mod{
color:#82b440;
}
.mod h1{
margin-left: 85px;
}
.img{
margin-left: 85px;
}
.img img{
margin-right: 23px;
margin-left: 35px;
}
.bu{
margin-left: -367px;
width: 339px;
margin-top: -38px;
background: #82b440;
height: 29px;
border: none;
}

.a{
background-color: #e9f0efe6;
width:85%
}
.fo{
margin-left: 100px;
}
.banner2 {
background:url(/home/rohit/Desktop/design/image/banner2.jpg) no-repeat;
width: 100%;
height:1500px;
}
.bu1{
margin-left: -385px;
width: 330px;
margin-top: -84px;
background: #82b440;
height: 29px;
border: none;
}
.design{
margin-left: 50px;

padding-top: 60px;
}
.design img{
padding-right: 50px;
margin-left: 59px;
padding-bottom: 45px;
}
.bottom{
background:url(/home/rohit/Desktop/design/image/banner.jpg) no-repeat;
 width: 100%;

display: inline-block;
}
.b1{
width: 50%;
float:left;
}
.b1 p{
    text-align: center;
    margin-top: 27px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    font-style: italic;

}
.b1 img{
margin-top: 85px;

margin-left: 100px;
}
.last{
text-align: center;

margin-top: -16px;

margin-bottom: -13px;
}
.b2{
width:40%;
float:left;
margin-top: 45px;
}
.b2 p{
margin-left: 100px;

margin-top: -35px;

padding-bottom: 20px;
}
.a2{
margin-left:45px;
}
.d{
width:70%;
border: 2px solid white;
border-radius: 5px;
box-shadow: 0 0 10px gray;
margin-left: 175px;
height: 230px;
}
.d1{
width: 33%;
margin-top: 35px;
float: left;

text-align: center;

font-weight: 400;

line-height: 0.3;
}
.d2{
width: 33%;
margin-top: 35px;
float: left;

text-align: center;

font-weight: 400;

line-height: 0.3;
}
.d3{
width: 33%;

float: left;
margin-top: 35px;
text-align: center;

font-weight: 400;

line-height: 0.3;
}
.contact{
margin-top: 50px;
height:750px;
width: 100%;
}
.q{
margin-left: 80px;

margin-top: 25px;
}
.last p{line-height: 1.5;

font-size: 15px;

font-weight: 100;
}
.d4{
width: 70%;

border: 2px solid white;

border-radius: 5px;

box-shadow: 0 0 10px gray;

margin-left: 175px;

height: 400px;
margin-top: 50px;
}
.s{
float: left;
margin-top: 35px;
margin-left: 30px;
}
.s1{
float: left;
background: #0000004d;
color: whitesmoke;
height: 320px;
margin-top: 35px;
margin-left: 35px;
}
.s1 h2{
color: #82b440;
}
.s1 p{
text-align:center;
font-size: 17px;
line-height: 1.4;
font-weight: 100;
}
.r{
margin-left: 82px;
padding-top: 39px;
}



